html {
  font-family: "Slabo 27px", serif;
  font-size: 1.2em;
  text-align: center;
  line-height: 1;
  background-color: #808080;
}

header {
  font-family: "Zen Dots", cursive;
  padding: 2em 0;
}

main {
}

button {
  padding: 0;
  margin: auto;
}

figure {
  margin: 0;
}

div {
  margin: 1em;
  height: 100%;
  padding: 3em;
  vertical-align: top;
}

div.left button figure figcaption {
  text-align: left;
}

hr {
  height: 1em;
  border-width: 0;
}

div.inner-right {
  margin-right: 0;
  margin-left: auto;
  width: max-content;
}

div.inner-left {
  margin-right: auto;
  margin-left: 0;
  width: max-content;
}

div.right {
  display: inline-block;
  width: calc(50% - 8em);
  background-color: #20f080;
}

div.left {
  background-color: #40b0f0;
  display: inline-block;
  width: calc(50% - 8em);
}

section {
  text-align: center;
  padding: 20px;
  background-color: #f0e080;
}

body {
  margin: 50px auto;
  max-width: 1200px;
  background-color: #f0a05c;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0px;
  font-size: 4em;
  text-align: center;
}

h1 span {
  font-size: 50%;
}

h2 {
  margin: 0;
  font-size: 2em;
  text-align: center;
  font-family: "Zen Dots", cursive;
}

h3 {
  margin: 0;
  font-size: 1.5em;
  font-family: "Zen Dots", cursive;
}

img {
  width: 100%;
}

img.fullSize {
  width: unset;
  display: block;
  margin: auto;
}

#imgModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-color: #000000;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: center;
  color: lightgrey;
}

#imgModal button {
  font-size: 5em;
}

#imgModal figcaption {
  font-size: 3em;
}

.AR16-9 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.AR16-9 iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

ul {
  margin: auto;
  width: max-content;
}

li {
  text-align: left;
}

footer {
  font-size: 0.6em;
  margin: 3em auto auto 1em;
}